.formOrder {
    width: 70%;
    height: 750px;
    margin: 100px auto;
    border-radius: 10px;
    background-color: #1c73d0;

    @media (max-width: 1700px) {
        width: 80%;
        height: 850px;
    }

    @media (max-width: 768px) {
        width: 100%;
        height: 650px;
    }

    &__container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;

        &-admin {
            flex-direction: column;
            justify-content: start;
            align-items: center;
        }

        @media (max-width: 1300px) {
            justify-content: center;
        }
    }

    &-admin {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 30px;
        text-align: center;

        .title-form {
            font-size: 32px;
            line-height: 2.2em;
        }

        .formInput {
            width: 100%;
            font-size: 20px;
            margin-block: 15px;
            position: relative;

            &::placeholder {
                font-size: 20px;
            }

        }
        

        .formButton {
            width: 200px;
            font-size: 20px;
            margin: 0;
        }

        .error {
            color: #f76969;
            font-size: 16px;
            position: relative;
            display: flex;

            &-serviceTitle {
                bottom: 100px;
            }
            &-serviceDescription {
                bottom: 290px;

                @media (max-width: 1700px) {
                    bottom: 260px;
                }
            }
            &-serviceImage {
                bottom: 100px;
            }
            @media (max-width: 768px) {
                &-serviceTitle {
                    bottom: 90px;
                }
                &-serviceDescription {
                    bottom: 190px;
                }
                &-serviceImage {
                    bottom: 90px;
                }
            }
        }
    }

    &-delete {
        padding: 25px;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 50%;
        text-align: center;

        .error {
            color: #f76969;
            top: -5px;
            left: 150px;
            font-size: 16px;
            position: absolute;

            &-comment {
                top: 190px;
                left: 50px;

                @media (max-width: 1450px) {
                    top: 295px;
                }
                @media (max-width: 768px) {
                    top: 235px;
                }
            }

            @media (max-width: 1450px) {
                left: 50px;
            }
            @media (max-width: 1300px) {
                left: 100px;
            }
            @media (max-width: 768px) {
                font-size: 14px;
                left: 30%;
            }
            @media (max-width: 480px) {
                left: 20%;
            }
        }

        @media (max-width: 1450px) {
            text-align: center;
            width: 45%;
        }
        @media (max-width: 1300px) {
            position: absolute;
            z-index: 1;
            opacity: 0.1;

            img {
                width: 100%;
            }
        }
        @media (max-width: 768px) {
            width: 70%;
        }

        &:first-child {
            width: 60%;

            @media (max-width: 1450px) {
                width: 50%;
            }
            @media (max-width: 1300px) {
                display: block;
                z-index: 2;
                opacity: 1;
            }
            @media (max-width: 992px) {
                width: 60%;
            }

            @media (max-width: 768px) {
                width: 80%;
            }
        }

        img {
            pointer-events: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }
    }

    &__block {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        .error {
            color: #f76969;
            font-size: 16px;
            position: absolute;
            display: flex;

            &-phone {
                left: auto;
                top: -10px;
                right: 50px;

                @media (max-width: 1450px) {
                    top: 95px;
                    right: 0;
                    left: 50px;
                }
                @media (max-width: 1300px) {
                    left: 100px;
                }
                @media (max-width: 768px) {
                    font-size: 14px;
                    top: 75px;
                    left: 30%;
                }
                @media (max-width: 480px) {
                    left: 20%;
                }
            }
        }

        @media (max-width: 1450px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

.formInput {
    width: 420px;
    height: 60px;
    font-family: Roboto;
    font-size: 24px;
    color: #3e3e3e;
    padding: 15px;
    margin-block: 20px;
    border-radius: 10px;
    background-color: #ececec;

    &::placeholder {
        font-size: 24px;
        color: #3e3e3e;

        @media (max-width: 992px) {
            font-size: 20px;
        }
    }

    &:disabled {
        cursor: not-allowed;
        background-color: #cfcfcf;
    }

    &-short {
        width: 250px;

        @media (max-width: 1450px) {
            width: 420px;
        }

        @media (max-width: 768px) {
            width: 300px;
        }
    }

    &-modal {
        @media (max-width: 1700px) {
            height: 50px;
            width: 350px;
            font-size: 20px;
            margin: 5px;
        }

        &::placeholder {
            @media (max-width: 1700px) {
                font-size: 20px;
            }
        }
    }

    @media (max-width: 992px) {
        font-size: 20px;
    }
    @media (max-width: 768px) {
        height: 50px;
        padding: 10px;
        margin-block: 15px;
        width: 300px;
    }

    &-comment {
        border-radius: 10px;
        padding: 20px;
        resize: none;
        width: 500px;
        height: 200px;

        &-serviceDescription {
            height: 250px;
            width: 80%;
        }

        @media (max-width: 1700px) {
            width: 400px;
            height: 220px;
        }
        @media (max-width: 768px) {
            width: 300px;
            height: 150px;
        }
    }
}
input:focus,
select:focus,
option:focus,
textarea:focus {
    outline: #f76969 solid 3px;
    transition: all 0.2s ease;
}
.formButton {
    margin: 25px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    width: 250px;
    padding: 15px;
    border-radius: 10px;
    background-color: #f76969;
    transition: all 0.5s ease;

    @media (max-width: 992px) {
        width: 300px;
        font-size: 22px;
    }
    @media (max-width: 768px) {
        width: 270px;
        padding: 15px;
    }
    @media (max-width: 480px) {
        font-size: 20px;
        width: 200px;
        padding: 10px;
    }

    &:hover {
        background-color: #e03f3f;
        // box-shadow: 0px 0px 8px 5px rgba(34, 60, 80, .5);
    }
    &:disabled {
        cursor: not-allowed;
        color: #3e3e3e;
        background-color: #cfcfcf;
    }
}
